@page "/"
@model Proiect.Pages.Telefoane.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://localhost:44339/Telefoane">Baza de date telefoane> </a></p>
</div>
